.nav-container {
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #1F1F1F;
  padding: 16px 4px;
  justify-content: space-between;
  align-items: center;
  
}
.menu-container{
    display: flex;
    width: 280px;
    padding:8px;
    flex-direction: column;
    align-items: flex-start;
    border-radius:12px;
    border: 1xp solid var(--color-neutral-700);
    background: var(--color-neutral-800);
    position: absolute;
    right: 150px;
    top: 90px;
}
.menu-item{
    display:flex;
    padding:8px;
    align-items:center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    color:var(--color-neutral-300);
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter",sans-serif;
}
.add-goal-btn{
  display: flex;
  gap: 16px;
  padding: 12px 20px;
  height: 48px;
  background-color:#FF5722;
  align-items: center;
  border-radius: 999px;
}
.add-goal-label{
  font-weight: medium;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}