<nav class="flex w-full h-20 border-b border-neutral-800 justify-between items-center py-4 px-20 md:py-4 md:px-6 sm:px-4 sm:py-3 lg:w-190 xl:w-full">
  <picture>
    <source media="(min-width: 1024px)" srcset="assets/logo-large.svg">
    <source media="(min-width: 768px)" srcset="assets/logo-small.svg">
    <img src="assets/logo-small.svg" alt="logo"/>
  </picture>

  <div class="flex items-center gap-1">
    <app-button
      [icon]="faPerson"
      variant="secondary"
      (onClick)="onOpenMenu()"
    ></app-button>

    <app-button type="button" class="height:24px" (onClick)="openCreateGoal()">
      <img src="assets/icon-plus.svg" />
      New Goal</app-button
    >
  </div>
</nav>

<ng-container *ngIf="isModalOpen">
  <app-goal-modal
    [isEdit]="isEditing"
    (close)="closeGoalModal()"
    (save)="handleSave($event)"
  >
  </app-goal-modal>
</ng-container>
<ng-container *ngIf="openMenu()">
  <div class="menu-container">
    <!-- <div  -->
      <app-button class="menu-item" (onClick)="handleSignOut()">Sign Out</app-button>
    <!-- </div> -->
  </div>
</ng-container>
