<div class="flex flex-col w-330">
  <div class="flex item-start gap-6 self-stretch justify-between w-full">
    <h1 class="flex-[1_0_0] text-white font-inter font-bold text-[32px]">
      Your goals
    </h1>
    <div id="controls" class="flex items-center gap-4">
      <app-button
        [icon]="faFilter"
        variant="secondary"
        (onClick)="onOpenFilter()"
      >
        Filters</app-button
      >
      <app-button variant="secondary" (onClick)="onOpenSortBy()"
        >Sort by</app-button
      >
    </div>
  </div>
  <div id="goals" class="flex flex-wrap items-start gap-6 self-stretch">
    @if(goals$ | async; as allGoals){
    <app-goal-card
      *ngFor="let goal of allGoals | goalFilter:activeFilterFn | filterSort: selectedSort:activeFilterFn"
      [size]="cardState"
      [id]="goal.id"
      [title]="goal.name"
      [deadline]="goal.deadline"
      (click)="onCardClick(goal)"
      [goalAmount]="goal.target_amount"
      [currentAmount]="goal.current_amount"
      [state]="(goal.current_amount / goal.target_amount) * 100 === 100 ? 'complete':(goal.current_amount / goal.target_amount) * 100 !==0?'in-progress':'no-progress'"
    ></app-goal-card>

    }@else {
    <p class="text-orange-400 text-4xl">Loading data...</p>
    }
  </div>
</div>
<ng-container *ngIf="openFilterMenu()">
  <app-menu
    [choices]="filterChoices"
    (filterChanged)="applyFilter($event)"
    headerTitle="FILTER BY STATUS"
  />
</ng-container>
<ng-container *ngIf="openSortMenu()">
 <app-filter-menu-component [options]="sortOptions" groupId="sort" headerTitle="SORT BY" (selectionChange)="selectedSort = $event"></app-filter-menu-component>
</ng-container>
