<div class="flex flex-col self-stretch items-start">
  @if(goals$ | async; as allGoals){
  <div
    class="flex item-start gap-6 self-stretch md:flex-wrap sm:flex-wrap lg:flex-nowrap xl:flex-nowrap lg:w-180 xl:w-7xl md:w-82.5 sm:w-82.5"
  >
    <h1
      class="md:flex-[1_0_0] lg:flex-[1_0_0] text-white font-inter font-bold text-[32px]"
    >
      Your goals
    </h1>
    <div id="controls" class="flex items-center gap-4">
      <div class="relative inline-block">
        <app-button
          [icon]="faFilter"
          variant="secondary"
          [disabled]="allGoals.length === 0"
          (onClick)="onOpenFilter()"
        >
          Filters</app-button
        >
        <app-menu
          *ngIf="openFilterMenu()"
          [choices]="filterChoices"
          (filterChanged)="applyFilter($event)"
          headerTitle="FILTER BY STATUS"
        />
      </div>
      <div class="relative inline-block">
        <app-button variant="secondary" (onClick)="onOpenSortBy()"
          [disabled]="allGoals.length === 0"

          >Sort by</app-button
        >
        <app-filter-menu-component
          *ngIf="openSortMenu()"
          [options]="sortOptions"
          groupId="sort"
          headerTitle="SORT BY"
          (selectionChange)="selectedSort = $event"
        ></app-filter-menu-component>
      </div>
    </div>
  </div>
  <div
    id="goals"
    class="flex flex-wrap items-start gap-6 self-stretch md:w-[720px] sm:w-[311px] xs:w-[311px] xl:w-full"
  >
    @if(allGoals.length > 0){
      @for(goal of allGoals | goalFilter:activeFilterFn | filterSort: selectedSort:activeFilterFn; track goal.id){
    <app-goal-card
      size="wide"
      [id]="goal.id"
      [title]="goal.name"
      [deadline]="goal.deadline"
      (click)="onCardClick(goal)"
      [goalAmount]="goal.target_amount"
      [currentAmount]="goal.current_amount"
      [state]="(goal.current_amount / goal.target_amount) * 100 === 100 ? 'complete':(goal.current_amount / goal.target_amount) * 100 !==0?'in-progress':'no-progress'"
    ></app-goal-card>
      }
    } @else{
      <div
      class="flex xl:w-[1280px] py-[40px] gap-[32px] items-center flex-col rounded-[16px] border border-dashed border-neutral-600"
    >
      <div class="flex flex-col items-center gap-[20px]">
        <img src="../../assets/icon-no-goals.svg" />
        <span class="text-neutral-0 text-[32px] font-bold text-center"
          >No goals yet</span
        >
        <p
          class="xl:w-[512px] text-center text-neutral-300 text-[16px] font-semibold"
        >
          Start saving for something that matters. Create your first goal and
          track your progress.
        </p>
      </div>
      <div>
      <app-button [icon]="faPlus" (onClick)="onOpenCreateGoalModal()">Create your first goal</app-button>
      </div>
    </div>
    }
  </div>
  } @else {<p class="text-orange-400 text-[16px] font-bold">Loading data...</p>}
</div>
<ng-container *ngIf="openCreateGoal">
  <app-goal-modal
  (close)="openCreateGoal =false;"
  ></app-goal-modal>
</ng-container>
